{% extends 'base.html' %}
{% load static %}
{% block content %}
        <div class="slogan">
            <h2 class="slogan-1">Добро пожаловать!</h2>
            <h3 class="slogan-2">Мой backend не падает, он просто отдыхает.</h3>
        </div>
        <div class="fork">
            <div class="text-offer">
                <h2>Вашему вниманию предлагается:</h2>
            </div>
            <div class="offers">
                <div class="offer">
                    <img src="{% static 'portfolio/images/port.jpeg' %}" alt="Папка для документов"
                         width="100%" class="offer-image">
                    <div class="offer-body">
                        <h3 class="offer_title">Каталог Pet-проектов</h3>
                        <div class="offer-link"><a href="{% url 'projects' %}" >Перейти</a></div>
                    </div>
                </div>
                <div class="offer">
                    <img src="{% static 'portfolio/images/resume.jpg' %}" alt="Резюме"
                         width="100%" class="offer-image">
                    <div class="offer-body">
                        <h3 class="offer_title">Резюме</h3>
                        <div class="offer-link"><a href="{% url 'resume' %}">Открыть</a></div>
                    </div>
                </div>
                <div class="offer">
                    <img src="{% static 'portfolio/images/www.png' %}" alt="Сайт"
                         width="100%" class="offer-image">
                    <div class="offer-body">
                        <h3 class="offer_title">О сайте подробно</h3>
                        <div class="offer-link"><a href="#">Открыть</a></div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}